<div id="rightSideWrapper">
  <div class="ContentBox">
    <main>
      <div class="container-fluid custom_search" style="padding: 0px">
        <div
          class="col-lg-12 search_box"
          style="
            padding: 0px;
            color: #117a8b;
            text-transform: uppercase;
            line-height: 40px;
          "
        >
          <h5>Rate Plan Master Table</h5>
        </div>

        <div style="margin-top: 20px">
          <table class="table table-bordered table-striped table-sm">
            <thead class="thead-dark">
              <tr>
                <th>Rate Plan ID</th>
                <th>Description</th>
                <th>Pricing Scheme</th>
                <th>Price</th>
                <th>UOM</th>
                <th>Active</th>
                <th>Frequency</th>
                <th>Billing Term</th>
                <th>Free Trial</th>
                <th>Setup Fee</th>
                <th>Expire After</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rate of ratePlanList">
                <td>{{ rate.ratePlanId }}</td>
                <td>{{ rate.name }}</td>
                <td>{{ rate.pricingScheme }}</td>
                <td>{{ rate.price }}</td>
                <td>{{ rate.unitOfMesureId }}</td>
                <td>{{ rate.isActive }}</td>
                <td>{{ rate.billEvery }}</td>
                <td>{{ rate.billingCycleTerm }}</td>
                <td>{{ rate.freeTrail }}</td>
                <td>{{ rate.setUpFee }}</td>
                <td>{{ rate.expireAfter }}</td>
              </tr>
              <tr *ngIf="ratePlanList.length === 0">
                <td colspan="11" class="text-center">No records found.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
